@tailwind preflight;
@tailwind utilities;
@tailwind components;

.top-padding { margin-top: 120px; }
@media(min-width: 576px) { .top-padding { margin-top: 80px; } }

.ReactModal__Content {
    max-width: 800px;
    margin: auto;
    padding: 20px 40px;
}

.ReactModal__Content h1, 
.ReactModal__Content h2,
.ReactModal__Content h3 {
    margin-bottom: .5em;
    margin-top: 1em;
}

.ReactModal__Content pre {
    margin-bottom: .5em;
    margin-top: .5em;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    white-space: normal;
} 

.ReactModal__Content ul, p {
    line-height: 1.4;
    margin-bottom: 1em;
}